<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError { border-color: #bd2130;}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/member/new" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <!--error 관련 코드-->
            <input type="text" th:field="*{nickName}" class="form-control" placeholder="WON MART에서 사용하실 닉네임을 입력하세요"
                   th:class="${#fields.hasErrors('nickName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></p>
        </div>
        <div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}" class="form-control" placeholder="도시를 입력하세요"
                   th:class="${#fields.hasErrors('city')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
        </div>
        <div class="form-group">
            <label th:for="street">거리</label>
            <input type="text" th:field="*{street}" class="form-control" placeholder="거리를 입력하세요"
                   th:class="${#fields.hasErrors('street')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
        </div>
        <button type="submit" class="btn btn-outline-success">가입하기</button>
    </form><br/>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>