<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
    </ul>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">WON MART</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--로그인 된 경우-->
        <div class="collapse navbar-collapse" th:if="${session.member_id}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/member/info">MY PAGE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">LETTER BOX</a>
                </li>
            </ul>
            <a class="btn btn-outline-success mr-sm-2" href="/post/new">판매하기</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/kakaoLogout">로그아웃</a>
        </div>
        <!-- 로그인 안된 경우-->
        <div class="collapse navbar-collapse" th:unless="${session.member_id}">
            <ul class="navbar-nav mr-auto"></ul>
            <a style="color: #6c757d">LOGIN WITH</a>
            <a>
                <img src="img/icon_naver.png" style="width: 30px; height: 30px; margin-left: 10px;">
            </a>
            <a href= "https://kauth.kakao.com/oauth/authorize?client_id=46755ba94eb707cd876dbfd1b716ceab&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code">
                <img src="img/icon_kakao.png" style="width: 30px; height: 30px; margin-left: 10px;">
            </a>
        </div>
    </nav>


</div>