<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Won Mart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>WON MART</h1>
        <p class="lead"> 나눌수록 행복한 간편 중고거래 장터 </p>

        <p id="kakao_id_login" style="text-align: center">
            <a href= "https://kauth.kakao.com/oauth/authorize?client_id=46755ba94eb707cd876dbfd1b716ceab&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code">
                <img src="img/kakao_account_login_btn_medium_narrow.png"/>
            </a>
        </p>

        <p th:text="${session.email}"></p>
        <p th:text="${session.nickName}"></p>

        <p>
            <a class="btn btn-lg btn-outline-dark" href="/member/new">회원가입</a>
            <a class="btn btn-lg btn-outline-dark" href="/member">회원목록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-outline-success" href="/post/new">판매하기</a>
            <a class="btn btn-lg btn-outline-success" href="/post">구매하기</a>
        </p>
        <p>
            <a class="btn btn-lg btn-outline-warning" href="/letter/new">쪽지작성</a>
            <a class="btn btn-lg btn-outline-warning" href="/letter">쪽지확인</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>