<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/letter/{receiver_id}/new (receiver_id=${receiver_id})}" th:object="${form}" method="post">
        <div class="form-group">
            "<label th:for="body" th:text="${receiver_nickName}"></label>" 님에게 보내는 쪽지
            <input type="text" th:field="*{body}" class="form-control" placeholder="내용">
        </div>
        <button type="submit" class="btn btn-outline-success rounded-0">보내기</button> </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>